// COMMON STYLES
* {
  box-sizing: border-box;
}

$parchment: #FFFDD0;
$header-font: 'Dancing Script', cursive;

// @import './hamburgers.scss',

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  font-family: $header-font;
  font-weight: bolder;
  font-size: 200%
}

.sub-title {
  font-size: 75%;
}

.col-25 {
  width: 25%;
  float: left;
  margin-top: 5px;
}

.col-50 {
  width: 50%;
  float: left;
  margin-top: 5px;
}

.col-75 {
  width: 75%;
  float: left;
  margin-top: 5px;
}

.col-100 {
  width: 100%;
}

// NAVBAR STLES
.navbar {
  border: 2px solid green;
  padding: 5px;
  justify-content: center;
  text-align: center;
  display: inline-block;
  height: 20%;
}

.navbar-brand {
  border: 2px solid blue;
  float: left;
}

.navbar-menu {
  float: right;
  border: 2px solid green;
  flex-wrap: wrap;
}

.navbar-link {
  height: 33%;
}

// HOME STYLES
.home-section {
  border: 2px solid red;
  background-color: $parchment;
  height: 75%;
}

// CHAPTER STYLES

// FOOTER STYLES
.footer {
  border: 2px solid black;
  height: 10%;
}
