// @use 'hamburger/hamburger';

$parchment: #fcfced;
// $parchment: yellow;
$header-font: 'Dancing Script', cursive;
$background-blue: #c4edf5;
$background-grey: #deded9;
// $background-blue: blue;

// COMMON STYLES
* {
  box-sizing: border-box;
  background-color: $parchment;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.col-100 {
  width: 100%;
}

.col-75 {
  width: 75%;
  float: left;
}

.col-50 {
  width: 50%;
  float: left;
}

.col-25 {
  width: 25%;
  float: left;
}

// NAVBAR STYLES
nav {
  display: inline-block;
  width: 100%;
  background-color: $background-blue;
}

.navbar-brand {
  background-color: $background-blue;
  margin: auto;
  text-align: center;
}

.navbar-title {
  background-color: $background-blue;
  font-family: $header-font;
  font-weight: bolder;
  font-size: 200%;
  margin-bottom: 10px;
}

.navbar-sub-title {
  background-color: $background-blue;
  font-size: 75%;
}

//Navbar menu
.navbar-item-wrapper {
  background-color: $background-blue;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

li a {
  text-decoration: none;
  background-color: $background-blue;
  color: black;
  width: 60px;
}

.navbar-item {
  display: inline;
  margin: auto;
}

.navbar-link {
  padding: 0px 5px;
}

// li a:hover {
//   background-color: #555;
//   color: white;
// }

// HOME STYLES
.home-section {
  background-color: $parchment;
  max-height: 80vh;
  padding: 5px;
  text-align: center;
}

//common chapter styles
.chapter-header{
  margin: auto;
  overflow: auto;
  text-align: center;
}

.chapter-main {
  margin: auto;
  overflow: auto;
  text-align: center;
  margin-bottom: 15vh;
}

//chapter-card is only on homepage
.chapter-card {
  width: 90%;
  margin: auto;
  text-decoration: none;
  border: 2px solid grey;
}

.chapter-link {
  text-decoration: none;
}

.card-text, .card-header {
  color: black;
}


// CHAPTER STYLES

.chapter-main {
  // max-height: 70vh;
  overflow: scroll;
}

.chapter-text {
  //the white-space declaration spaces lines on \n in seed file
  white-space: pre-wrap;
  // height: 80vh;
  padding: 15px;
  text-align: left;

}

.chapter-options {
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  a {
    max-width: 100px;
    max-height: 120px;
    margin: 0px auto 40px;
    text-align: center;
    border: 2px solid grey;
    text-decoration: none;
    color: black;
  }
}

// FOOTER STYLES
.footer {
  // min-height: 5vh;
  text-align: center;
  bottom: 0;
  display: inline-block;
  position: fixed;
  bottom: 0;
  background-color: $background-grey;
  width: 100%;
  padding: 2px;
  .footer-banner, .footer-note, p, a {
    background-color: inherit;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h4 {
    margin: 10px 0;
  }
  span {
    background-color: inherit;
  }
  .footer-note {
    margin: 0;
  }
  #footer-text {
    display: block;
  }
  .authors-note {
    font-size: 70%;
  }
}


