// @use 'hamburger/hamburger';

$parchment: FFFAF0;
$header-font: 'Dancing Script', cursive;

// COMMON STYLES
* {
  box-sizing: border-box;
  background-color: $parchment
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  font-family: $header-font;
  font-weight: bolder;
  font-size: 200%
}

.sub-title {
  font-size: 75%;
}

.col-100 {
  width: 100%;
}

.col-75 {
  width: 75%;
  float: left;
}

.col-50 {
  width: 50%;
  float: left;
}

.col-25 {
  width: 25%;
  float: left;
}

// NAVBAR STLES
.navbar {
  // border: 2px solid green;
  justify-content: center;
  text-align: center;
  display: inline-block;
  height: 15%;
  width: 100%;
}

.navbar-brand {
  // border: 2px dashed blue;
  margin: auto;
  align-self: center;

}

//Navbar menu 
.navbar-item-wrapper {
  // border: 2px dashed grey;
  list-style-type: none;
  float: right;
  min-width: 120px;
  width: 25%;
  position: fixed;
  top: 0;
  right: 5px;
  overflow: auto;
  margin: 0;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: right;
}

li a:hover {
  background-color: #555;
  color: white;
}

// HOME STYLES
.home-section {
  // border: 2px solid red;
  background-color: $parchment;
  height: 70vh;
  padding: 5px;
  text-align: center;
}

//common chapter styles
.home-about, .chapter-header, .chapter-text, .chapter-options {
  width: 70%;
  margin: auto;
  text-align: center;
}

.chapter-card {
  // border: 2px dashed red;
  width: 30vw;
  margin: auto;
}

// CHAPTER STYLES

.chapter {
  max-height: 70vh;
  overflow: scroll;
}

.chapter-text {
  // border: 2px dashed blue;
  //the white-space declaration spaces lines on \n in seed file
  white-space: pre-wrap;
}

.chapter-options {
  // border: 2px dashed green;
  padding: 5px;
  a {
    width: 30%;
    display: inline-block;
  }
}

// FOOTER STYLES
.footer {
  text-align: center;
  // border: 2px solid black;
  height: 10vh;
  bottom: 0;
  position: fixed;
  width: 100%;
}


// MEDIA QUERY - TABLET
// @media (min-width: 768px) {
//   * {
//     background-color: black;
//   }

// .navbar-menu{
//   #navbar-name {
//     // color: blue;
//     position: relative;
//     top: 75px;
//     bottom: 50px;
//     right: 50px;
//     left: 55px;
//   }
// }
// }
// react-burger-menu from https://github.com/negomi/react-burger-menu
//

// .style {
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   width: 50%;
//   background-color: #a90000;
//   height: 50%;
//   margin: 0px;
//   padding: 0px;
//   border: none;
//   font-size: 0px;
//   background: transparent;
//   cursor: pointer;
// }

// .bm-burger-button {
//   position: fixed;
//   width: 36px;
//   height: 30px;
//   left: 36px;
//   top: 36px;
// }

// /* Color/shape of burger icon bars */
// .bm-burger-bars {
//   background: #373a47;
// }

// /* Color/shape of burger icon bars on hover*/
// .bm-burger-bars-hover {
//   background: #a90000;
// }

// /* Position and sizing of clickable cross button */
// .bm-cross-button {
//   height: 24px;
//   width: 24px;
// }

// /* Color/shape of close button cross */
// .bm-cross {
//   background: #bdc3c7;
// }

// /*
// Sidebar wrapper styles
// Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
// */
// .bm-menu-wrap {
//   position: fixed;
//   // height: 100%;
// }

// /* General sidebar styles */
// .bm-menu {
//   background: #373a47;
//   padding: 2.5em 1.5em 0;
//   font-size: 1.15em;
// }

// /* Morph shape necessary with bubble or elastic */
// .bm-morph-shape {
//   fill: #373a47;
// }

// /* Wrapper for item list */
// .bm-item-list {
//   color: #b8b7ad;
//   padding: 0.8em;
//   height: 10%;
//   width: 10%;
// }

// /* Individual item */
// .bm-item {
//   display: inline-block;
// }

// /* Styling of overlay */
// .bm-overlay {
//   background: rgba(0, 0, 0, 0.3);
// }