$background-grey: #deded9;

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: $background-grey;
  width: 100%;
  padding: 2px;
  .footer-banner, .footer-note, p, a {
    background-color: inherit;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h4 {
    margin: 10px 0;
  }
  span {
    background-color: inherit;
  }
  .footer-note {
    margin: 0;
  }
  #footer-text {
    display: block;
  }
  .authors-note {
    font-size: 70%;
  }
  .footer-icon {
    background-color: $background-grey;
  }
}