$background-grey: #deded9;
$parchment: #fcfced;

.footer {
  // position: relative;
  bottom: 0;
  text-align: center;
  background-color: $parchment;
  width: 100%;
  padding: 2px;
  .footer-banner, .footer-note, p, a {
    background-color: inherit;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h4 {
    margin: 10px 0;
  }
  span {
    background-color: inherit;
  }
  .footer-note {
    margin: 0;
  }
  #footer-text {
    display: block;
  }
  .authors-note {
    font-size: 70%;
  }
  .footer-icon {
    background-color: $parchment;
  }
}

@media (min-width: 1024px){
  .footer-note p{
    padding: 15px;
    margin: auto;
    width: 900px;
  }
}